<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_attendance.css') }}">
    <link rel="stylesheet" href="/final_project/static/css/student_attendance.css">
</head>
<body>
    <header>
        <h1>Student Attendance</h1>
    </header>

    <main>
        <section>
            <form method="POST" action="{{ url_for('student_attendance') }}">
                <label for="roll_number">Enter Roll Number:</label>
                <input type="text" id="roll_number" name="roll_number" required>
                <button type="submit">Submit</button>
            </form>
        </section>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}

        {% if attendance_data %}
            <section>
                <h2>Attendance Report for Roll Number: <span>{{ roll_number }}</span></h2>
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attendance_data %}
                            <tr>
                                <td>{{ record[0] }}</td>
                                <td>{{ record[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
    </main>
</body>
</html>